<%- include('./includes/head.ejs')%>
<link rel="stylesheet" href="css/donorcommunity.css">
</head>
<body>
    <%- include('./includes/navbar.ejs')%> 
    <div class="mainna">
        <div class="box">
            <div>
                <div class="box1">
                    <img src="images/communitybg.png" alt="">
                </div>
                <div class="paraboxn">
                    <div class="heading">
                        <h1>Donor Community</h1>
                        <p>A community for the donors to directly communicate with the people in need of blood transfusion</p>
                    </div>
                    <div class="search1">
                        <form action="/joincommunity" method="post">
                            <label  for="city">Blood group </label>
                            <input class="inputb1" name="blood" id="city" type="text" placeholder="Enter blood group">
                            <label  for="blood">Your city</label>
                            <input class="inputb2" name="city" id="blood" type="text" placeholder="Enter your city">
                            <label  for="blood">Contact number</label>
                            <input class="inputb3" name="contact" id="blood" type="text" placeholder="Enter contact number">
                            <button class="btndonor" type="submit">Join</button>
                        </form>
                    </div>
                </div>
                
            </div>
            

            
        </div>
        <div class="box2">
            <!-- <p id="communa">To join our community</p>
            <a href="/joincommunity">Join Community</a>
        
            <hr class="lining"> -->
            <div class="infinity">
                
                <video class="vid" width="450" height="300" autoplay>
                    <source src="images/SearchDonor.mp4" type="video/mp4">
                   
                  </video>
            </div>
            <div class="search">
                <h4 id="searchinghead">Search</h4>
                <form action="/search" method="post">
                    <label  for="city">Enter city </label>
                    <input name="city" id="city" type="text" placeholder="Enter your city">
                    <label  for="blood">Blood group</label>
                    <input class="inputb" name="blood" id="blood" type="text" placeholder="Enter your blood group">
                    <button class="btndonor" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="boxaaa">
            <% if(userData2.length>=0){%>
                <!-- <hr class="lining"> -->
            <ul>
                <div class="tablediv">
                    <p class="info a">Name</p>
                    <p class="info b">City</p>
                    <p class="info c">Blood group</p>
                    <p class="info d chat" >chat</p> 
                    <p class="info e">Email</p>
                </div>
                
                <% for(let user of userData2){%>
                <li class="listdc">
                    <div class="listdcdiv">
                        
                        
                        <p><%=user.username%></p>
                    </div>
                    <div class="listdcdiv">
                        
                        <p><%=user.city%></p>
                    </div>
                    <!-- <div class="listdcdiv">
                        <p class="info">Chat</p>
                        <p>Click here to chat</p>
                    </div> -->
                    <div class="listdcdiv">
                        
                        <p><%=user.blood%></p>
                    </div>
                    <!-- <div class="listdcdiv">
                        <p class="info">Contact Number</p>
                        <p><%=user.contact%></p>
                    </div> -->
                    <div class="listdcdiv">
                        
                        <a href="chat">Chat here</a></p>
                       
                    </div>
        
                    <div class="listdcdiv">
                       
                        <p><%=user.email%></p>
                    </div>
                </li>
                <%}%>
            </ul>
            <%}else{%>
                <p>empty community</p>
            <%}%>
            
        </div>
    </div>
    
<%- include('./includes/tail.ejs')%>