<%- include('./includes/head.ejs')%>
    <link rel="stylesheet" href="css/ngoz-community.css">
    </head>

    <body>
        <%- include('./includes/navbar.ejs')%>
            <div class="parent">
                <div class="ngobox1">
                    <div class="ngobox11">
                        <img src="images/redToLiFE NGO Community.png" alt="">
                    </div>
                    <div class="ngoparaboxn">
                        <h1>NGO Community</h1>
                        <p>A community for the NGOs and Blood Banks to directly communicare and help the people in need
                            of blood transfusion.</p>

                        <div class="ngojoinbox">
                            <a href="/joincommunity">Join our community today</a>
                        </div>
                    </div>

                </div>
                <div class="ngoboxaaa">
    
                    <ul class="grandlist">
                      
                        <li class="ngolistdc">
                            <div class="ngolistdcdiv" id="ngolistdivimg">
                                <img class="ngodp" src="images/profile.jpg" alt="">
                            </div>
                            <div class="ngolistdcdiv">
                                
                                <p class="ngoinfo">Name</p>
                                
                            </div>
                            <div class="ngolistdcdiv">
                                <p class="ngoinfo">State</p>
                            </div>
                            <div class="ngolistdcdiv">
                                <p class="ngoinfo">City</p>
                               
                            </div>
                            
                            <div class="ngolistdcdiv">
                                <p class="ngoinfo">Email</p>
                              
                            </div>
                           
                            <div class="ngolistdcdiv">
                                <p class="ngoinfo chat" > <a href="chat">Chat here</a></p>
                               
                            </div>
                
                        </li>
                       
                    </ul>
                 
                    
                </div>
            </div>
            <% if(userData2.length>=0){%>
                <% for(let ngo of userData2){%>
                    <p>----------------------------------------------</p>
                    <p>
                        <%=ngo.username%>
                    </p>
                    <p>
                        <%=ngo.email%>
                    </p>
                    <p>
                        <%=ngo.state%>
                    </p>
                    <p>
                        <%=ngo.contact%>
                    </p>
                    <p>
                        <%=ngo.city%>
                    </p>
                    <p>----------------------------------------------</p>
                    <%}%>
                        <%}%>

                            <%- include('./includes/tail.ejs')%>